{% extends "base.html" %}
{% load static %}


{% block additional_scripts %}

	<!-- <script type="module" src="{% static 'js/libs/svg_js/svg.js' %}"></script>
	<script type="module" src="{% static 'js/libs/svg.filter.js' %}"></script>
	<script type="module" src="{% static 'js/libs/svg.pathmorphing.js' %}"></script>
	<script type="module" src="{% static 'js/libs/svg.draggable.js' %}"></script>
	<script type="module" src="{% static 'js/libs/svg.select.js' %}"></script>
	<script type="module" src="{% static 'js/libs/svg.resize.js' %}"></script>
	<script type="module" src="{% static 'js/libs/apexcharts/apexcharts.js' %}"></script> -->

	<script src="{% static 'js/libs/googleCharts.js' %}"></script>
	<script src="{% static 'js/mission_creation.js' %}"></script>
	<script src="{% static 'js/commands.js' %}"></script>

{% endblock %}

{% block page %}

	
    <!-- Display controller -->
	
	<div id="draggable" class="small-container">
		<i class="material-icons" style="color:white;">reorder</i>
    	<div id="gui_container"></div>
	</div>

	<div class="container">

		<!-- 2*3 fleet grid -->
		<div class="row">
			<div class="col s4 free"></div>
			<div class="col s4 free"></div>
			<div class="col s4 free"></div>
		</div>

		<div class="row">
			<div class="col s4 free"></div>
			<div class="col s4 free"></div>
			<div class="col s4 free"></div>
		</div>

		<!-- Allocation chart -->
		<div id="chart_div"></div>

	</div>


{% endblock %}
