{% extends "base.html" %}
{% load static %}


{% block additional_scripts %}

    <!-- Load leaflet js + oriented marker (drone heading) -->
    <script src="{% static 'js/leaflet_plugins.js' %}"></script>

	<!-- Load icons -->
	<script src="{% static 'js/map.js' %}"></script>

{% endblock %}

{% block page %}

    <!-- Display map -->
    <div id="map_container" class="fullscreen"></div>

    <!-- Display controller -->
	<div id="draggable" class="small-container">
		<i class="material-icons" style="color:white;">reorder</i>
    	<div id="gui_container"></div>
	</div>

{% endblock %}
