{% extends "base.html" %}
{% load static %}


{% block additional_scripts %}

	<!-- Load specific javascript -->
	<script src="{% static 'js/raw_data.js' %}"></script>
	<!-- Load plotly js -->
    <script src="{% static 'js/libs/plotly.js' %}"></script>

{% endblock %}


{% block page %}

    <!-- Display controller -->
	<div id="draggable" class="small-container">
		<i class="material-icons" style="color:white;">reorder</i>
    	<div id="gui_container"></div>
	</div>

	<div class="row"></div>

	<!-- Display charts -->
	<div id='charts'></div>

{% endblock %}
