{% extends "base.html" %}
{% load static %}


{% block additional_scripts %}

	<!-- Load specific javascript -->
	<script type="module" src="{% static 'js/settings.js' %}"></script>

{% endblock %}


{% block page %}

<div class='container'>

    <div class='row center'>
        <h3 class="blue-grey-text text-darken-4">settings</h3>
    </div>

    <div class='row'>
        <div class='col s4'>

            <p style="display:inline;"> 
                refresh rate : <div class="center" id="display_refresh_rate" style="display:inline;"></div> ms
                <input type="range" id="slider_refresh_rate" min="500" max="10000" step="100"/>
            </p>

        </div>

        <div class="col s4 offset-s4">

            <p style="display:inline;"> 
                length of trails : <div id="display_trail_length" style="display:inline;"></div> s
                <input type="range" id="slider_trail_length" min="10" max="3600" step="10"/>
            </p>

        </div>

    </div>
    <div class="center"><a id="reset_cookies" class="red btn">reset</a></div>
</div>

{% endblock %}
