Django
matplotlib
mpld3
Jinja2
geopy
utm
scipy
#MesoNH Probe -> to be packaged
sh
#Server
gunicorn
#useless in future
ivy-python
#Map tile downloader
aiohttp
# Loading bar
tqdm
# NetCDF and operators
netCDF4