asgiref==3.1.4

Django
#django-background-tasks -> useless ?
matplotlib
mpld3
Jinja2
geopy
utm
scipy

#MesoNH Probe -> to be packaged
sklearn
sh
ivy-python

#Server
channels 
channels_redis
redis

#Map tile downloader
aiohttp

# Loading bar
tqdm

# NetCDF
netCDF4

dask
toolz
