Django
django-background-tasks
matplotlib
mpld3
Jinja2
geopy
utm
scipy
#MesoNH Probe -> to be packaged
sklearn
sh
ivy-python
#Server
channels 
asgi_redis
channels_redis
#Map tile downloader
aiohttp
# Loading bar
tqdm
# NetCDF and operators
netCDF4