{% extends 'nephelae/base.html' %}
{% load static %}

<!-- Load specific CSS -->
{% block additional_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'nephelae/static/css/cross_section.css' %}" />
{% endblock %}

<!-- Load specific javascript -->
{% block additional_scripts %}
	<script type="text/javascript" src="{% static 'nephelae/static/js/cross_section.js' %}"></script>
{% endblock %}

<!-- Activate current menu in nav -->
{% block nav %}
    <a href="{% url 'preview' %}">3D Preview</a>
    <a class="active" href="{% url 'cross_sections' %}">Cross Sections</a>
    <a href="{% url 'infos' %}">Infos</a> 
{% endblock nav %}

{% block page %}
    <!-- Display cross sections images -->
    <div class='plot_container'>
        <div class='img_container' id='clouds_div'>
            <img id='cloud_img' src='clouds.jpg'></img>
        </div>
        <div class='img_container' id='thermals_div'>
            <img id='thermals_img' src='thermals.jpg'></img>
        </div>
    </div>

    <!-- Display altitude slider -->
    <div class="altitude_slider_container">
        <div id="altitude_display" class="info"></div>
        <input id="altitude_slider" type="range" min="0" max="100" value="0" class="slider">
    </div>

    <!-- Display time slider -->
    <div class="time_slider_container">
        <div id="time_display" class="info"></div>
        <input id="time_slider" type="range" min="0" max="100" value="0" class="slider">
    </div>
 
{% endblock %}
