{% extends "nephelae/base.html" %}
{% load static %}

{% block additional_head %}
    <!-- Load specific CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'nephelae/static/css/map.css' %}"/>
    <!-- Load leaflet CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'nephelae/static/css/leaflet.css' %}"/>
{% endblock %}


{% block additional_scripts %}
    <!-- Load leaflet js + oriented marker (drone heading) + UTM translation -->
    <script type="text/javascript" src="{% static 'nephelae/static/js/libs/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'nephelae/static/js/libs/oriented_marker.js' %}"></script>
    <script type="text/javascript" src="{% static 'nephelae/static/js/libs/L.LatLng.UTM.js' %}"></script>
    <!-- Load charts js -->
    <script type="text/javascript" src="{% static 'nephelae/static/js/libs/chart.js' %}"></script>
	<!-- Load specific javascript -->
	<script type="text/javascript" src="{% static 'nephelae/static/js/map.js' %}"></script>
{% endblock %}

{% block page %}

    <div id="map_container"></div>

    <div id="checkboxes">
        
    </div>

    <div id="graph">
        <canvas id="altitude_chart"></canvas>
    </div>

{% endblock %}
