{% extends "nephelae/base.html" %}
{% load static %}

{% block additional_head %}
    <!-- Load specific CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'nephelae/static/css/map.css' %}"/>
    <!-- Load leaflet CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'nephelae/static/css/leaflet.css' %}"/>
    <!-- Load home button icon ... -->
    <link rel="stylesheet" type="text/css" href="{% static 'nephelae/static/css/font_awesome.css' %}"/>
{% endblock %}


{% block additional_scripts %}
    <!-- Load leaflet js + oriented marker (drone heading) -->
    <script type="text/javascript" src="{% static 'nephelae/static/js/libs/leaflet.js' %}"></script>
    <!-- Load plotly js -->
    <script type="text/javascript" src="{% static 'nephelae/static/js/libs/plotly.min.js' %}"></script>
	<!-- Load global variables and specific javascript -->
	<script type="text/javascript" src="{% static 'nephelae/static/js/base_colors.js' %}"></script>
	<script type="text/javascript" src="{% static 'nephelae/static/js/base_icons.js' %}"></script>
	<script type="text/javascript" src="{% static 'nephelae/static/js/map.js' %}"></script>
{% endblock %}

{% block page %}

    <div id="map_container"></div>

    <div id="chart"></div>

{% endblock %}
