{% extends "nephelae/base.html" %}
{% load static %}

<!-- Load specific javascript -->
{% block additional_scripts %}
	<script type="text/javascript" src="{% static 'nephelae/static/js/preview.js' %}"></script>
{% endblock %}

<!-- Activate current menu in nav -->
{% block nav %}
    <a class="active" href="{% url 'preview' %}">3D Preview</a>
    <a href="{% url 'cross-sections' %}">Cross Sections</a>
    <a href="{% url 'infos' %}">Infos</a> 
{% endblock nav %}

{% block page %}

    <div class="slidecontainer">
        <input id="time_slider" type="range" min="0" max="100" value="0" class="slider">
    </div>
    <div id="time"/>
{% endblock %}