/* 
Q : Why is this stylesheet in such a convoluted tree of files ?
A : https://docs.djangoproject.com/en/2.2/intro/tutorial06/
*/

* {
    margin: 0;
}

/* Import local font */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf')  
         format("truetype");
}

body {
    font-family: 'Roboto';
}

/* Style of links inside the navigation menu */
.pill-nav {
    list-style-type: none;
    position: relative;
    top: 0px;
    overflow: hidden;
    background-color: whitesmoke;
}

.pill-nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 14px;
    font-family: "Roboto";
    font-size: 17px;
    text-decoration: none;
}

/* Change the color of links on mouse-over */
.pill-nav a:hover:not(.active) {
    background-color: #ddd;
}


/* Add a color to the active/current link */
.pill-nav a.active {
    color: white;
    background-color: dodgerblue;
}

/* Images fill parent divs */
img {
    max-width:100%;
    max-height:100%;
}