/* 
Q : Why is this stylesheet in such a convoluted tree of files ?
A : https://docs.djangoproject.com/en/2.2/intro/tutorial06/
*/

.plot_container {
    display: flex;
}

.info {
    font-size: 17px;
    font-family: "Roboto";
    text-align: center;
}

.img_container {
    flex: 100%;
}

#altitude_display{
    vertical-align: top;
}

#time_display{
    vertical-align: top;
}

/* Slider container style */
.time_slider_container {
    width: 100%;
    position: relative;
}

/* The slider itself */
#time_slider {
    -webkit-appearance: slider-horizontal;
    position: relative;
    width: 50%;
    left: 25%;
}

.altitude_slider_container {
    width: 100%;
    position: relative;
}

#altitude_slider {
    -webkit-appearance: slider-horizontal;
    position: relative;
    width: 50%;
    left: 25%;
    
}