/* 
Q : Why is this stylesheet in such a convoluted tree of files ?
A : https://docs.djangoproject.com/en/2.2/intro/tutorial06/
*/

#map { 
    height: 400px; 
}

#altitude_chart { 
    height: 200px !important;
}
