/* 
Q : Why is this stylesheet in such a convoluted tree of files ?
A : https://docs.djangoproject.com/en/2.2/intro/tutorial06/
*/

* {
    margin: 0;
    padding: 0;
}

/* Import local font */
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.ttf')  
         format("truetype");
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf')  
         format("truetype");
}

html, body{
    height: 100%;
    /*overflow: hidden; /* worst hack ever */
}

#loader {
    position: absolute;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.info {
    font-size: 17px;
    color: darkslategray;
    text-align: center;
}

nav ul li a {
    font-size: 18px;
}

.fullscreen {
    top: 0px;
    width: 100%;
    height: calc(100vh - 64px);
}

.small-container {
    position: absolute;
    right: 10px;
    top: calc(64px + 10px);
    z-index: 400;
}

#draggable i {
    cursor: pointer;
    position: relative;
    left: 218px;
    top: 30px;
}

/* Fix conflicts between materialize and dat.gui*/
#gui_container [type=text] {
    height: initial !important;
    font-family: 'Roboto-Light';
    font-size: 15px;
}

#gui_container [type=checkbox] {
    position: initial !important;
    opacity: initial !important;
}

#gui_container select{
    display: initial;
    background-color: #f2f2f2;
    width: initial;
    padding: initial;
    border-radius: initial;
    height: initial;
    padding: initial;
    font-family: 'Roboto-Light';
}

.dg.main.a {
    font-family: 'Roboto-Light';
}

.dg.main .close-button.close-bottom {
    background-color: black;
    font-size: 12px;
}

.dg ul {
    font-size: 12px;
}


.leaflet-control-velocity {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 5px;
    margin: 0 !important;
    color: #333;
    font: 15px "Roboto-Light";
  }
  
  .velocity-overlay {
    position: absolute;
    z-index: 1;
  }