/* 
Q : Why is this stylesheet in such a convoluted tree of files ?
A : https://docs.djangoproject.com/en/2.2/intro/tutorial06/
*/

* {
    margin: 0;
    padding: 0;
}

/* Import local font */
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.ttf')  
         format("truetype");
}

html, body{
    height: 100%;
    /*overflow: hidden; /* worst hack ever */
}

body {
    font-family: 'Roboto-Light';
}

#loader {
    position: absolute;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.info {
    font-size: 17px;
    color: darkslategray;
    text-align: center;
}

nav ul li a {
    font-size: 18px;
}

.fullscreen {
    top: 0px;
    width: 100%;
    height: calc(100vh - 64px);
}