/* 
Q : Why is this stylesheet in such a convoluted tree of files ?
A : https://docs.djangoproject.com/en/2.2/intro/tutorial06/
*/

.plot_container {
    display: flex;
}

.info {
    text-align: center;
}

/* Slider container style */
.time_slider_container {
    width: 20em;
    position: relative;
    margin: 0 auto;
}

/* The slider itself */
#time_slider {
    position: relative;
    width: 100%;
}

.altitude_slider_container {
    width: 20em;
    position: relative;
    margin: 0 auto;
}

#altitude_slider {
    position: relative;
    width: 100%;
}