/* 
Q : Why is this stylesheet in such a convoluted tree of files ?
A : https://docs.djangoproject.com/en/2.2/intro/tutorial06/
*/

#chart {
    position: absolute;
    top: 70px;
    left: 500px;
}

.settings {
    position: absolute;
    top: 150px;
    width: 500px;
}

