<!--
Q : Why is this template in such a convoluted tree of files ?
A : https://docs.djangoproject.com/en/2.2/intro/tutorial06/
-->

{% load static %}

<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>Nephelae</title>

		<!-- Load static CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
		<!-- Icons in the future ? -->

		<link rel="stylesheet" type="text/css" href="{% static 'css/libs/materialize.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/libs/font_awesome.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/libs/nouislider.css' %}" />

		<!-- Load icons -->
		<link rel="shortcut icon" href="#">
		<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->

		<!-- Load jquery -->
		<script type="text/javascript" src="{% static 'js/libs/jquery.js' %}"></script>

		<!-- Load materialize js -->
		<script type="text/javascript" src="{% static 'js/libs/materialize.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/libs/nouislider.js' %}"></script>

		<!-- Load main js -->
		<script type="text/javascript" src="{% static 'js/base.js' %}"></script>

		{% block additional_head %}{% endblock %}
	</head>

	<body>
			<div id="external-wrapper">
				<div id="nav" class="pill-nav">
					<a id='nav_preview' href="{% url 'preview' %}">3D Preview</a>
					<a id='nav_map' href="{% url 'map' %}">Map</a>
   					<a id='nav_profiles' href="{% url 'profiles' %}">Vertical Profiles</a>
   					<a id='nav_cloud_data' href="{% url 'cloud_data' %}">Cloud Data</a>
    				<a id='nav_cross_section' href="#!" class='dropdown-trigger' data-target='dropdown_cs'>Cross Sections</a>
   					<a id='nav_simulation' href="{% url 'simulation' %}">Simulation (soon)</a>
					<a href="javascript:void(0);" class="icon" onclick="open_navbar()">
    					<i class="fa fa-bars"></i>
					</a>
				</div>

				<ul id='dropdown_cs' class='dropdown-content'>
					<li><a href="{% url 'cross_sections' %}" >Image Cross Section</a></li>
					<li><a href="#!">Plot Cross Section (soon)</a></li>
				</ul>

				{% block loader %}
					<div id="loader" class="preloader-wrapper big active">
						<div class="spinner-layer">
							<div class="circle-clipper left">
								<div class="circle"></div>
								</div><div class="gap-patch">
								<div class="circle"></div>
								</div><div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
				{% endblock %}
				
				{% block page %}{% endblock %}
			</div>
		
		<!-- Load additional_scripts -->
		{% block additional_scripts %}{% endblock %}
	</body>

</html>
