<!--
Q : Why is this template in such a convoluted tree of files ?
A : https://docs.djangoproject.com/en/2.2/intro/tutorial06/
-->

{% load static %}

<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>Nephelae</title>

		<!-- Load static CSS -->
		<link rel="stylesheet" href="{% static 'css/base.css' %}" />
		<link rel="stylesheet" href="{% static 'css/libs/materialize.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/libs/material-icons.css' %}" />
		<link rel="stylesheet" href="{% static 'css/libs/nouislider.css' %}" />

		<!-- Load favicon -->
		<link rel="shortcut icon" href="#">

		<!-- Load jquery -->
		<script src="{% static 'js/libs/jquery.js' %}"></script>

		<!-- Load dat.gui -->
		<script src="{% static 'js/libs/dat.gui.js' %}"></script>

		<!-- Load materialize js -->
		<script src="{% static 'js/libs/materialize.min.js' %}"></script>
		<script src="{% static 'js/libs/nouislider.js' %}"></script>

		<!-- Load main js -->
		<script src="{% static 'js/base.js' %}"></script>
		<script src="{% static 'js/base_colors.js' %}"></script>

		{% block additional_head %}{% endblock %}
	</head>

	<body>

		<!-- navbar -->

		<nav class="teal z-depth-0">
			<div class="nav-wrapper">
				<a href="https://github.com/teobouvard/nephelae_gui" class="brand-logo right"><i class="material-icons">cloud</i></a>
				<ul id="nav-mobile" class="left">
					<li id='nav_preview'><a href="{% url 'preview' %}">Preview</a></li>
					<li id='nav_map'><a href="{% url 'map' %}">Map</a></li>
					<li id='nav_profiles'><a href="{% url 'profiles' %}">Vertical Profiles</a></li>
					<li id='nav_cloud_data'><a href="{% url 'cloud_data' %}">Cloud Data</a></li>
					<li id='nav_sections'><a href="{% url 'sections' %}">Sections</a></li>
					<li id='nav_simulation'><a href="{% url 'simulation' %}">Simulation</a></li>
				</ul>
			</div>
		</nav>

		<!-- loader -->

		<div id="loader" class="preloader-wrapper big active">
			<div class="spinner-layer">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>

		<!-- rest of the page -->

		{% block page %}{% endblock %}

		<!-- additional_scripts -->

		{% block additional_scripts %}{% endblock %}

	</body>

</html>
