{% extends "base.html" %}
{% load static %}


{% block additional_head%}
{% endblock %}


{% block additional_scripts %}
	<!-- Load specific javascript -->
	<script type="text/javascript" src="{% static 'js/cloud_data.js' %}"></script>
	<!-- Load plotly js -->
    <script type="text/javascript" src="{% static 'js/libs/plotly.min.js' %}"></script>
	<!-- Load global variables and specific javascript -->
	<script type="text/javascript" src="{% static 'js/base_colors.js' %}"></script>
{% endblock %}


{% block page %}

 <!-- Display charts -->
 <div class="row">
	<div class="col s6">
		<div id='volume_chart'></div>	
	</div>
	<div class="col s6">
		<div id='height_chart'></div>
	</div>
</div>

 <div class="row">
	<div class="col s6">
		<div id='radius_chart'></div>
	</div>
	<div class="col s6">
		<div id='zx_chart'></div>
	</div>
</div>


{% endblock %}