{% extends "base.html" %}
{% load static %}


{% block additional_scripts %}

	<script src="{% static 'js/commands.js' %}"></script>
	<script src="{% static 'js/libs/googleCharts.js' %}"></script>

{% endblock %}

{% block page %}

	
	{% comment '' %}
	<!-- Display controller -->

	<div id="draggable" class="small-container">
		<i class="material-icons" style="color:white;">reorder</i>
    	<div id="gui_container"></div>
	</div>
	{% endcomment %}

	<div class="row">
		<div class="col s4 free"></div>
		<div class="col s4 free"></div>
		<div class="col s4 free"></div>
	</div>

	<div class="row">
		<div class="col s4 free"></div>
		<div class="col s4 free"></div>
		<div class="col s4 free"></div>
	</div>

	
{% endblock %}