{% extends 'base.html' %}
{% load static %}

<!-- Load specific CSS -->
{% block additional_head %}
{% endblock %}

<!-- Load specific javascript -->
{% block additional_scripts %}
    <script type="text/javascript" src="{% static 'js/base_date.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cross_section.js' %}"></script>
{% endblock %}

{% block page %}

    <!-- Display cross sections images -->
    <div class='row'>
        <div class='col s6' id='clouds_div'></div>
        <div class='col s6' id='thermals_div'></div>
    </div>

    <div class="container">
        <!-- Display altitude slider -->
        <div class="row">
            <div class="col s5">
                <div id="altitude_display" class="info"></div>
                <input id="altitude_slider" type="range">
            </div>

            <div class="col s2"></div>

            <div class="col s5">
                <div id="time_display" class="info"></div>
                <input id="time_slider" type="range">

            </div>
        </div>
        
        <!-- Display time slider -->
        <div class="row">
            <div class="col s5">
                <div id="x_display" class="info"></div>
                <div class="row"></div>
                <div id="x_slider"></div>
            </div>

            <div class="col s2"></div>
            
            <div class="col s5">
                <div id="y_display" class="info"></div>
                <div class="row"></div>
                <div id="y_slider"></div>
            </div>
        </div>
    </div>
{% endblock %}
