{% extends "base.html" %}
{% load static %}

{% block additional_head %}
    <!-- Load specific CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}"/>
    <!-- Load leaflet CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/libs/leaflet.css' %}"/>
{% endblock %}


{% block additional_scripts %}
    <!-- Load leaflet js + oriented marker (drone heading) -->
    <script type="text/javascript" src="{% static 'js/libs/leaflet.js' %}"></script>
    <!-- Load plotly js -->
    <script type="text/javascript" src="{% static 'js/libs/plotly.min.js' %}"></script>
	<!-- Load global variables and specific javascript -->
	<script type="text/javascript" src="{% static 'js/base_colors.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/base_icons.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
{% endblock %}

{% block page %}

    <!-- Display map -->
    <div class="row">
        <div id="map_container"></div>
    </div>

    <!-- Display trail length slider -->
    <div class="container">
        <div class="row">
            <div class="col s5">
                <div id="length_display" class="info"></div>
                <input id="length_slider" type="range" min="1" max="501" value="61">
            </div>

            <div class="col s1"></div>

            <div class="col s5">
                <div id="altitude_display" class="info"></div>
                <input id="altitude_slider" type="range">
            </div>
        </div>
    </div>

{% endblock %}
