{% extends "base.html" %}
{% load static %}

{% block additional_head %}

    <!-- Load leaflet CSS -->
    <link rel="stylesheet" href="{% static 'css/libs/leaflet.css' %}"/>

{% endblock %}


{% block additional_scripts %}

    <!-- Load leaflet js + oriented marker (drone heading) -->
    <script src="{% static 'js/libs/leaflet.js' %}"></script>
    <script src="{% static 'js/leaflet_plugins.js' %}"></script>

	<!-- Load icons -->
	<script src="{% static 'js/base_icons.js' %}"></script>
	<script src="{% static 'js/map.js' %}"></script>

{% endblock %}

{% block page %}

    <!-- Display map -->
    <div id="map_container" class="fullscreen"></div>

    <!-- Display controller -->
    <div id="gui_container"></div>

{% endblock %}
