{% extends 'base.html' %}
{% load static %}

{% block additional_head %}

{% endblock %}

<!-- Load specific javascript -->
{% block additional_scripts %}
    <script src="{% static 'js/base_colors.js' %}"></script>
    <script src="{% static 'js/sections.js' %}"></script>
    <!-- Load plotly js -->
    <script src="{% static 'js/libs/plotly.js' %}"></script>
{% endblock %}


{% block page %}

    <!-- Display cross sections heatmaps -->
    <div id='chart'></div>

    <!-- Display controller -->
    <div id="gui_container"></div>

{% endblock %}
