{% extends 'base.html' %}
{% load static %}

{% block additional_head %}
    <!-- Load specific CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/sections.css' %}"/>
{% endblock %}

<!-- Load specific javascript -->
{% block additional_scripts %}
    <script type="text/javascript" src="{% static 'js/base_colors.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sections.js' %}"></script>
    <!-- Load plotly js -->
    <script type="text/javascript" src="{% static 'js/libs/plotly.min.js' %}"></script>
{% endblock %}


{% block page %}

    <!-- Display altitude and time slider -->
    <div class="settings">
        <div class="row">
            <div class="col s8 offset-s2">
                <div id="altitude_display" class="info"></div>
                <input id="altitude_slider" type="range">
            </div>
        </div>
        <div class="row">
            <div class="col s8 offset-s2">
                <div id="time_display" class="info"></div>
                <input id="time_slider" type="range">
            </div>
        </div>
        <div class="row">
            <div id="select" class="input-field col s8 offset-s2">
                <select>
                    <option value="clouds">Clouds</option>
                    <option value="thermals" selected>Thermals</option>
                </select>
                <label>Variable</label>
            </div>
        </div>
    </div>

    <!-- Display cross sections heatmaps -->
    <div id='chart'></div>

{% endblock %}
