{% extends "base.html" %}
{% load static %}


{% block additional_scripts %}

	<!-- Load specific javascript -->
	<script type="module" src="{% static 'js/settings.js' %}"></script>

{% endblock %}


{% block page %}

<div class='container'>

    <div class='row center'>
        <h3>Settings</h3>
    </div>

    <div class='row'>
        <div class='col s4'>

        <p class="range-field center"> 
            Refresh rate 
            <input type="range" id="slider_refresh_rate" min="500" max="10000" step="100"/>
        </p>
        </div>

    </div>
</div>

{% endblock %}