{% extends 'base.html' %}
{% load static %}

{% block additional_head %}

{% endblock %}

{% block additional_scripts %}

	<!-- Load three js -->
	<script src="{% static 'js/libs/three.js' %}"></script>
	<script src="{% static 'js/libs/OrbitControls.js' %}"></script>

	<!-- Load global variables and specific javascript -->
	<script type="module" src="{% static 'js/simulation.js' %}"></script>

{% endblock %}

{% block page %}


    <!-- Display controller -->
	<div id="draggable" class="small-container">
		<i class="material-icons" style="color:white;">reorder</i>
    	<div id="gui_container"></div>
	</div>

	<div id="canvas_container" class="fullscreen no-overflow"></div>

{% endblock %}