{% extends 'base.html' %}
{% load static %}

{% block additional_head %}

{% endblock %}

{% block additional_scripts %}
	<!-- Load three js -->
	<script src="{% static 'js/libs/three.js' %}"></script>
	<script src="{% static 'js/libs/OrbitControls.js' %}"></script>
	<script type="module" src="{% static 'js/libs/Stats.js' %}"></script>

	<!-- Load global variables and specific javascript -->
	<script src="{% static 'js/base_colors.js' %}"></script>
	<script type="module" src="{% static 'js/simulation.js' %}"></script>
{% endblock %}

{% block page %}

<div id='wrapper'></div>

{% endblock %}