{% extends 'base.html' %}
{% load static %}

{% block additional_head %}

{% endblock %}

{% block additional_scripts %}

	<!-- Load three js -->
	<script src="{% static 'js/libs/three.js' %}"></script>
	<script src="{% static 'js/libs/OrbitControls.js' %}"></script>

	<!-- Load global variables and specific javascript -->
	<script type="module" src="{% static 'js/simulation.js' %}"></script>

{% endblock %}

{% block page %}


<div id="gui_container"></div>
<div id="canvas_container" class="fullscreen"></div>

{% endblock %}