/* 
Q : Why is this style file in such a convoluted tree of folders ?
A : https://docs.djangoproject.com/en/2.2/intro/tutorial06/
*/

body {
    background: white;
}


/* Style the links inside the pill navigation menu */

.pill-nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Roboto";
    border-style: none;
}


/* Change the color of links on mouse-over */

.pill-nav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.pill-nav a.active {
    background-color: dodgerblue;
    color: white;
}

:target {
    background-color: #ffa;
}